<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ClientSetup" type="Cognibase"/>
	</configSections>
	<appSettings>
		<add key="Log To Console Level" value="Trace"/>
		<add key="Log To File Level" value="Trace"/>		
	</appSettings>
	<ClientSetup>
		<CommunicationSetup>
			<client library="streaming" protocol="ws"/>
		</CommunicationSetup>
	</ClientSetup>
</configuration>
