<?xml version="1.0"?>

<configuration>
	<!-- Here we define the COGNIBASE configuration section  -->
	<configSections>
		<section name="ClientSetup" type="COGNIBASE" />
	</configSections>

	<appSettings>
		<!-- COGNIBASE Setting: File Logging Level { Paranoiac, Trace, Debug, Error, Warning, Info, Any, None } -->
		<add key="Log To File Level" value="Trace" />

		<add key="RetentionHours" value="1" />

		<!-- If it will store credentials in first login and use it in subsequent executions -->
		<add key="Login With Stored Credentials" value="true" />
	</appSettings>
		<ClientSetup>
			<!-- Here we set the settings for the communication method that the client will use to connect to the server.
				 Each library may have more than one protocols. 
				 For example "Streaming" library contains the NamedPipes (pipe) and the Web Socket (ws) implementation. -->
			<CommunicationSetup>
				<client library="streaming" protocol="ws" />
				<client___...DOCKER library="streaming" protocol="ws" serverdns="pingerserver" />
			</CommunicationSetup>
		</ClientSetup>
</configuration>