<?xml version="1.0"?>

<configuration>
	<!-- Here we define the COGNIBASE configuration section  -->
	<configSections>
		<section name="OdosSetup" type="COGNIBASE" />
	</configSections>

	<appSettings>
		<!-- COGNIBASE Setting: Output/Console Logging Level { Paranoiac, Trace, Debug, Error, Warning, Info, Any, None } -->
		<!--<add key="Log To Output Level" value="Trace"/>-->

		<!-- COGNIBASE Setting: File Logging Level { Paranoiac, Trace, Debug, Error, Warning, Info, Any, None } -->
		<add key="Log To File Level" value="Trace" />

		<!-- If it will store credentials in first login and use it in subsequent executions -->
		<add key="Login With Stored Credentials" value="true" />
	</appSettings>
	<OdosSetup>
		<OdosClientSetup>
			<!-- Here we set the settings for the communication method that the client will use to connect to the server.
				 Each library may have more than one protocols. 
				 For example "Streaming" library contains the NamedPipes (pipe) and the Web Socket (ws) implementation. -->
			<CommunicationSetup>
				<client library="streaming" protocol="ws" />
			</CommunicationSetup>
		</OdosClientSetup>
	</OdosSetup>
</configuration>