<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ClientSetup" type="Cognibase"/>
	</configSections>
	<appSettings>
		<add key="Log To Output Level" value="None"/>
		<add key="Log To File Level" value="Debug"/>		
		<add key="Login With Stored Credentials" value="true"/>
	</appSettings>
	<ClientSetup>
		<CommunicationSetup>
			<client library="streaming" protocol="ws"/>
		</CommunicationSetup>
	</ClientSetup>
</configuration>
